header{
    background-color: rgb(163, 92, 92);
    color: cornsilk;
    margin: 2vw 2vw 1vw 2vw;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: x-large;
}
nav{
    background-color: rgb(163, 92, 92);
    color: cornsilk;
    margin: 0vw 2vw 0vw 2vw;
    text-align: center;
}
.nav-link{
    text-decoration: none;
    color: cornsilk;
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: small;
}
.main{
    background-color: rgb(163, 92, 92);
    color: cornsilk;
    margin: 2vw 2vw 1vw 2vw;
}
.article-site{
    background-color: rgb(163, 92, 92);
    float: left;
    height: 600px;
    width: 66%;
}
.aside-site{
    background-color: rgb(163, 92, 92);
    float: right;
    width: 34%;
    height: 600px;
}
.aside-title{
    text-align: center;
}
.aside-img{
    margin-left: 27%;
}
.aside-description{
    text-align: justify;
    margin-left: 2vw;
    margin-right: 2vw;
}
article{
    padding-left: 3vw;
}

footer{
    text-align: center;
}
.foot-icon{
    text-decoration: none;
}